<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <title>PCC 2019</title>
    <meta name="theme-color" content="#212121">
    <meta name="Description" content="Postgraduate Combinatorial Coneference 2019: A conference on all areas of combinatorics run by, and for, postgraduate students.">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css?v">
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
        <div id="wrapper">
          {% include pcc-bcc.svg %}
          <h1 id="project_title">Postgraduate Combinatorial Conference 2019</h1>
          <nav id="top-nav">
            <a href="/#location">Location</a>
            <a href="/timetable">Timetable</a>
            <a href="/#invited-speakers">Invited Speakers</a>
            <a href="/#handbook">Handbook</a>
            <a href="/#travel-and-accommodation">Accommodation</a>
            <a href="/#organisers">Organisers</a>
          </nav>
        </div>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

  </body>
</html>
